<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(page_title: yield(:title)) %></title>
    <%= render 'layouts/potepanec_header_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <!-- FOOTER -->
    <!-- COPY RIGHT -->
    <%= render 'shared/copy_right' %>
    <!-- LOGIN MODAL -->
    <%= render 'shared/login_modal' %>
    <!-- SIGN UP MODAL -->
    <%= render 'shared/signup_modal' %>
    <%= debug(params) if Rails.env.development? %>
    <%= javascript_include_tag 'application', :defer => "defer"%>
  </body>
</html>
